<?php
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
<h1>products!</h1>
<ul>
    {% for product in products %}
        <p><li>{{ product }}</li></p>
    {% endfor %}
    {{ dump(products) }}
</ul>
</body>
</html>